<div class="sb-bg-color-primary-0 practical-header py-16">
  <div class="d-flex  flex-jc-space-between practical-header__content ui container p-0">

    <div class="practical-header__title flex-basis-1 w-20">
      <h4 class="m-0 p-0">{{ programDetails?.name }} <i class="info circle link icon" suiPopup [popupTemplate]="popupTemplate" popupDelay="1000"></i>
        <ng-template #popupTemplate>
          <div class="content">
            <div class="textbook-details ml-8">
              <div class="header"><strong>{{ resourceService?.frmelmnts?.lbl?.mediums }}</strong></div>
              <div class="content">
                <label class="d-block fsmall font-weight-normal mb-0">{{ mediums }}</label>
              </div>
              <hr />
              <div class="header"><strong>{{ resourceService?.frmelmnts?.lbl?.class }}</strong></div>
              <div class="content">
                <label class="d-block fsmall font-weight-normal mb-0">{{ grades }}</label>
              </div>
              <hr />
              <div *ngIf="nominationDetails && nominationDetails.status ==='Approved'">
                <div class="header"><strong>{{ resourceService.frmelmnts.lbl.contentType }}</strong></div>
                <div class="content">
                  <label class="d-block fsmall font-weight-normal mb-0">
                      <span class="fs-0-785" *ngFor="let contentType of programDetails?.content_types;">
                        {{ contentType }}
                      </span>
                  </label>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </h4>
      <p class="fs-0-785 font-weight-normal">{{ programDetails?.description }}</p>
    </div>
    <div class="sb-meta-data-container sb-meta-data-column w-10 px-10" *ngIf="!nominationDetails || (nominationDetails && nominationDetails.status !== 'Approved')">
      <label class="m-0 p-0">{{ resourceService.frmelmnts.lbl.contentType}}</label>
        <p>
          <span class="fs-0-785" *ngFor="let contentType of programDetails?.content_types;">
            {{ contentType }}
          </span>
        </p>
    </div>
    <ng-container *ngIf="nominationDetails">
      <div class="sb-meta-data-container sb-meta-data-column px-10" *ngIf="nominationDetails?.status === 'Approved'">
        <label class="width-100">Content Status </label>
        <div class="d-flex">
          <dl class="sb-meta-data">
            <dt>0</dt>
            <dd>Initiated</dd>
          </dl>
          <dl class="sb-meta-data">
            <dt>3</dt>
            <dd>Pending</dd>
          </dl>
          <dl class="sb-meta-data">
            <dt>0</dt>
            <dd>Approved</dd>
          </dl>
          <dl class="sb-meta-data">
            <dt>0</dt>
            <dd>Rejected</dd>
          </dl>
          <dl class="sb-meta-data">
            <dt>3</dt>
            <dd>Total</dd>
          </dl>
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="programDetails">
      <div class="program-timeline px-16 w-30">
        <div class="program-timeline-item">
        <div class="status" [class.active]="activeDate === 'nomination_enddate'">
          <div class="status__label">Nomination End Date</div>
          <div class="status__date">
          {{ programDetails?.nomination_enddate |  date:'LLLL d, yyyy'  }}
          <br/>
          <em [class.sb-color-warning]="activeDate === 'nomination_enddate'" *ngIf="activeDate === 'nomination_enddate'">{{ programDetails?.nomination_enddate | daysToGo  }}</em>
          </div>
        </div>
        </div>
        <div class="program-timeline-item">
        <div class="status"  [class.active]="activeDate === 'shortlisting_enddate'">
          <div class="status__label">Shortlisting Nominations</div>
          <div class="status__date">
          {{ programDetails?.shortlisting_enddate |  date:'LLLL d, yyyy'  }}
          <br/>
          <em [class.sb-color-warning]="activeDate === 'shortlisting_enddate'" *ngIf="activeDate === 'shortlisting_enddate'">{{ programDetails?.shortlisting_enddate | daysToGo  }}</em>
          </div>
        </div>
        </div>
        <div class="program-timeline-item">
        <div class="status"  [class.active]="activeDate === 'content_submission_enddate'">
          <div class="status__label">Contribution & Review</div>
          <div class="status__date">
          {{ programDetails?.content_submission_enddate |  date:'LLLL d, yyyy'  }}
          <br/>
          <em [class.sb-color-warning]="activeDate === 'content_submission_enddate'" *ngIf="activeDate === 'content_submission_enddate'">{{ programDetails?.content_submission_enddate | daysToGo  }}</em>
          </div>
        </div>
        </div>
        <div class="program-timeline-item">
        <div class="status" [class.active]="activeDate === 'enddate'">
          <div class="status__label">{{ resourceService?.frmelmnts?.lbl?.programEndDate }}</div>
          <div class="status__date">
          {{ programDetails?.enddate |  date:'LLLL d, yyyy'  }}
          <br/>
          <em [class.sb-color-warning]="activeDate === 'enddate'" *ngIf="activeDate === 'enddate'">{{ programDetails?.enddate | daysToGo  }}</em>
          </div>
        </div>
        </div>
      </div>
    </ng-container>
    <div class="sb-meta-data-container sb-meta-data-column px-10">
      <div class='practical-sb-buttons' *ngIf="nominationDetails && nominationDetails.status">
        <label class="m-0">{{ resourceService.frmelmnts.lbl.status }}</label>
        <p>{{ nominationDetails?.status }}</p>
      </div>
    </div>
    <div class="sb-meta-data-container sb-meta-data-column  px-10">
      <div *ngIf="nominated && nominationDetails.status=='Rejected'">
        <label class="m-0">{{ resourceService.frmelmnts.lbl.reasonsForRejection }}</label>
        <p class="sb__ellipsis sb__ellipsis--one cursor-pointer" suiPopup popupHeader="{{resourceService.frmelmnts.lbl.reasonsForRejection}}" popupText="{{nominationDetails?.feedback}}">{{ nominationDetails?.feedback }}</p>
      </div>
    </div>
    <div class="practical-sb-buttons" *ngIf="canNominate()">
      <div *ngIf="selectedCollectionIds.length === 0"> <button
          class="sb-btn sb-btn-disabled sb-btn-normal">{{ resourceService.frmelmnts.btn.nominate }}</button></div>
      <div *ngIf="selectedCollectionIds.length > 0">
        <button class="sb-btn sb-btn-normal sb-btn-primary {{selectedCollectionIds.length > 0 ? 'active' : 'disabled'}}"
          (click)="showContentTypeModal= true;">{{ resourceService.frmelmnts.btn.nominate }}</button>
      </div>
    </div>
  </div>
</div>