<div *ngIf="!showLoader && !showError && currentStage === 'collectionComponent'">
  <div class="sb-bg-color-white py-24 dynamicHeight">
    <div class="ui container m-0 p-0">
      <div class="sb-pageSection-header">
        <h4 class="sb-pageSection-title six">{{programContext.name}} <span
            class="sb-pagSection-count sb-label sb-label-x sb-label-warning ml-8 px-8">10</span></h4>
      </div>
      <div class="sb-table-responsive">
        <table class="sb-table sb-table-striped sb-table-sortable sb-table-fixed">
          <thead class="sb-table-header sb-table-thead-gray">
            <tr>
              <th class="sb-sort-icon w-8">Textbook</th>
              <th class="sb-sort-icon w-5">{{resourceService.frmelmnts.lbl.profile.Medium}}</th>
              <th class="sb-sort-icon w-5">{{resourceService.frmelmnts.lbl.class}}</th>
              <th class="sb-sort-icon w-5">{{resourceService.frmelmnts.lbl.subject}}</th>
              <th class="sb-sort-icon w-5">{{resourceService.frmelmnts.lbl.chapters}}</th>
              <th class="text-center w-5"></th>
            </tr>
          </thead>
          <tbody class="sb-table-body">
            <tr *ngFor="let data of collectionList">
              <td>
                <div class="sb__ellipsis sb__ellipsis--three sb-color-primary font-weight-bold">
                  {{data.name}}
                </div>
              </td>
              <td>
                <div suiPopup popupHeader="Grades" popupText="{{data.gradeLevel}}">{{data.gradeLevel}}</div>
              </td>
              <td>
                <div class="sb__ellipsis">{{data.medium}}</div>
              </td>
              <td>
                <div class="sb__ellipsis">{{data.subject}}</div>
              </td>
              <td>
                {{ data.childNodes ? data.childNodes.length : 0 }}
              </td>
              <td class="text-center">
                <input type="checkbox" [checked]="data.isSelected" name="{{data.identifier}}" (click)="nominationChecked(data.identifier); toggleUploadSampleButton(data)">
                <button type="button" *ngIf="data.isSelected" (click)="uploadSampleContent($event, data)" class="sb-btn sb-btn-normal sb-btn-outline-primary mx-10">Upload Sample</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div *ngIf="!objectKey(collectionList).length">
        <app-no-result [data]="{ messageText: 'resourceService.messages.stmsg.m0006'}"></app-no-result>
      </div>
    </div>
  </div>
</div>
<div *ngIf="currentStage !== 'collectionComponent'" style="margin-bottom: -60px;">
  <app-chapter-list [chapterListComponentInput]="chapterListComponentInput"
    (selectedQuestionTypeTopic)="selectedQuestionTypeTopic"></app-chapter-list>
</div>
<div class="twelve wide column" *ngIf="!showLoader && showError">
  <app-no-result [data]="{ messageText: 'resourceService.messages.fmsg.m0004'}"></app-no-result>
</div>
<div *ngIf='showLoader && !showError' class="ui container sb-chapter-list && currentStage === 'collectionComponent'">
  <app-loader></app-loader>
</div>

<sui-modal *ngIf="showContentTypeModal" [mustScroll]="true" [isClosable]="true" [transitionDuration]="0"
  [size]="'normal'" class="sb-modal" appBodyScroll (dismissed)="showContentTypeModal = false" #modal>
  <div class="sb-modal-header">
    {{resourceService.frmelmnts.lbl.submitNomination}}
   </div>
  <div class="sb-modal-content">
    <h5 class="font-weight-bold mb-10">{{resourceService.frmelmnts.lbl.listOfContentType}}</h5>
    <div class="mb-10" *ngFor="let contenttype of contentType">
      <div class="sb-checkbox sb-checkbox-primary">
        <input class="checking" [(ngModel)]="contenttype.isSelected" (change)="toggle(contenttype);"
          (click)="$event.stopPropagation()" type="checkbox">
        <label for="check1" class="mb-0"> {{contenttype}}</label>
      </div>
      <!-- <sui-checkbox name="{{contenttype.name}}" (click)="toggle($event, contenttype, contenttype.value);">{{contenttype.name}}</sui-checkbox> -->
    </div>
  </div>
  <div class="sb-modal-actions">
    <button type="button" class="sb-btn sb-btn-normal sb-btn-primary" (click)="addNomination()"> {{resourceService.frmelmnts.btn.submit}} </button>
    <button type="button" class="sb-btn sb-btn-normal sb-btn-outline-primary" (click)="showContentTypeModal = false"> {{resourceService.frmelmnts.btn.cancel}}
    </button>
  </div>
</sui-modal>
