<!--div *ngIf="this.currentStage === 'ProgramComponent'"></div-->

<app-program-header *ngIf="!showLoader" [headerComponentInput]="headerComponentInput" [appTelemetryImpression]="telemetryImpression"></app-program-header>

<div class="sb-bg-color-primary-100" *ngIf="!showLoader">
	<sui-tabset>
		<div class="ui pointing secondary menu sb-bg-color-primary-100">
			<div class="ui container p-0 m-0 d-flex flex-ai-center flex-jc-center">
				<div class="item" suiTabHeader="textbooks">{{ resourceService?.frmelmnts?.lbl?.textbooks }}<span
						class="sb-pagSection-count sb-label sb-label-x sb-label-warning ml-8 px-8">{{programDetails?.collection_ids.length || 0}}</span>
				</div>
				<div class="item" *ngIf="showUsersTab" suiTabHeader="users">{{ resourceService?.frmelmnts?.tab?.users }}
					<span
						class="sb-pagSection-count sb-label sb-label-x sb-label-warning ml-8 px-8">{{contributorOrgUser.length || 0}}</span>
				</div>
			</div>
		</div>

		<div class="ui segment p-0 m-0 mt-4 sb-bg-color-white dynamicHeight" suiTabContent="textbooks">
			<div class="ui container p-0 m-0">
				<div class="sb-pageSection" [appTelemetryImpression]="telemetryImpression">
					<ng-container *ngIf="!showLoader">
						<ndc-dynamic [ndcDynamicComponent]="component" [ndcDynamicInputs]="dynamicInputs"
							[ndcDynamicOutputs]="outputs">
						</ndc-dynamic>
					</ng-container>
				</div>
			</div>
		</div>

		<div class="ui segment m-0 mt-4 sb-bg-color-white dynamicHeight" *ngIf="showUsersTab" suiTabContent="users">
			<div class="ui container" *ngIf="contributorOrgUser">
				<div class="my-24">
					<div class="d-flex flex-ai-center flex-jc-space-between">
						<div>
							<h4 class="sb-pageSection-title"> {{orgDetails.name}}
								<span
									class="sb-pagSection-count sb-label sb-label-x sb-label-warning ml-8 px-8">{{contributorOrgUser.length || 0}}</span>
							</h4>
						</div>
						<!-- <div>
					<button class="sb-btn sb-btn-outline-primary sb-btn-normal ml-10 " (click)="showNormalModal = true"><i
					  class="plus circle icon"></i> Invite a User</button>
				  </div> -->
					</div>
				</div>
				<div class="sb-table-responsive" *ngIf="contributorOrgUser?.length != 0">
					<table class="sb-table sb-table-striped sb-table-hover sb-table-sortable sb-table-nowrap">
						<thead class="sb-table-header sb-table-thead-gray">
							<tr>
								<th>S.No.</th>
								<!-- <th></th> -->
								<th>Username</th>
								<th>Grade</th>
								<th>Subject</th>
								<th>ContentTypes</th>
								<th>Roles</th>
							</tr>
						</thead>
						<tbody class="sb-table-body">
							<tr *ngFor="let orgUser of contributorOrgUser; let i= index;">
								<td>{{ i + 1 }}</td>
								<!-- <td><button type="button" class="sb-btn sb-btn-outline-primary sb-btn-xs">Edit</button></td> -->
								<td>{{orgUser.fullName}}</td>
								<!-- <td>**********</td> -->
								<td>{{orgUser?.gradeLevel?.join(', ')}}</td>
								<td>{{orgUser?.subject?.join(', ')}}</td>
								<td>
									<div class="sb__ellipsis sb__ellipsis--three sb-color-primary font-weight-bold"
										style="width: 250px;">
										{{orgUser?.contentTypes?.join(', ')}}
									</div>
								</td>
								<td>
									<sui-select class="selection" [(ngModel)]="orgUser.selectedRole" labelField="name"
										[options]="options" valueField="name" (selectedOptionChange)="onRoleChange()">
										<sui-select-option *ngFor="let option of roles;" [value]="option">
										</sui-select-option>
									</sui-select>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="sb-table-responsive" *ngIf="contributorOrgUser?.length === 0">
					<app-no-result [data]="{ messageText: 'resourceService.messages.stmsg.m0146'}"></app-no-result>
				</div>
			</div>
		</div>
	</sui-tabset>
</div>


<!--ng-container *ngIf="currentStage !== 'ProgramComponent'">
	<ndc-dynamic [ndcDynamicComponent]="component" [ndcDynamicInputs]="dynamicInputs" [ndcDynamicOutputs]="outputs">
	</ndc-dynamic>
</ng-container-->